
@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Silkscreen:wght@400;700&display=swap');
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: indianred;
    font-family: "Silkscreen", serif;
    font-weight: 700;
    font-style: normal;

}